header {
    position: fixed;
    top: 0;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(145, 230, 230);
    
    display: flex;
}

#master-title {
    font-size: 28px;
    color: #181818;

    padding: 5px 16px 5px 16px;
}
