header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(20, 37, 27);
    
    display: flex;
}

#master-title {
    font-size: 28px;
    color: #f5ebe0;

    padding: 5px 16px 5px 16px;
}
